# Pastas e arquivos de ambiente Python
venv/
__pycache__/
*.pyc
*.log
*~

# Arquivos de Banco de Dados
# O db.sqlite3 guarda os dados do seu Admin e deve ser ignorado.
db.sqlite3

# Arquivos de Mídia (Uploads de usuário - Essencial)
# O Django armazena uploads aqui. Você não deve versionar arquivos grandes de imagem.
/media/

# Arquivos gerados pelo Django/IDE
*.sqlite3
.DS_Store
.vscode/